.App {
  text-align: center;
}
body{
  background-color:#ececec;
  display:flex;
  margin-top:30px;
  justify-content:center;
}
.card-login{
  width:450px;
  height:550px;
  background-color:#fff;
}
.image-logo{
  display: block;
  padding-top:50px;
  margin-left: auto;
  margin-right: auto;
  width:60%;
}
.login-title{
   text-align:center;
   margin:40px;
   line-height:5px;
   color:#33bcaf;
}
.form-field{
  width:75%;
  margin:0 auto;
}
.f-length-1{
  width:100%;
  border-radius:5px;
  padding:10px
}
.f-length-2{
  width:100%;
  border-radius:2px;
  padding:10px;
  margin-top:20px;
}
.sp{
  padding-top:15px;
}
.reset-pass{
  color:#33bcaf;
  text-decoration:none;
}
.btn-login{
  background-color:red;
}
#f-p{ 

  margin-top:10px;
}
.p-white{
width:100%;
height:200px;
border:solid red 2px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:red;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
